# Mengabaikan laporan HTML
*.html linguist-detectable=false
reports/** linguist-detectable=false

# Memaksa GitHub menghitung berkas JSON Postman ke dalam statistik bahasa
*.json linguist-detectable=true
*.json linguist-language=JSON
